footer {
  background-color: #565656;
  color: grey;
}
.main_footer {
  display: flex;
}

.footer_col1 {
  width: 50%;
  padding-left: 80px;
  padding-top: 210px;
}
.social_icons {
  padding: 200px 0 270px 0;
}
.copyright {
  padding-bottom: 30px;
}

.footer_col2 {
  width: 50%;
  border-left: solid 1px grey;
  padding-left: 80px;
  padding-top: 80px;
}
.footer_menu_links {
  display: flex;
  color: white;
}
.h1_links {
  padding: 50px 0 50px 0;
}
.h1_links a {
  text-decoration: none;
  color: white;
}
.h1_links a:hover {
  color: blue;
}
.footer_menu {
  padding: 140px 0 40px 0;
}
.footer_menu_links {
  padding-bottom: 10px;
}
.footer_links {
  list-style: none;
  margin-right: 20px;
  line-height: 30px;
}
.footer_links2 {
  list-style: none;
  line-height: 30px;
}
.copyright {
  width: 100%;
  padding-left: 80px;
  padding-top: 100px;
}
.footer_col1 a {
  text-decoration: none;
  background-color: #84888f;
  color: white;
  padding: 10px;
}
.footer_email {
  background-color: #4a4a4a;
  color: white;
  width: 300px;
  height: 9vh;
  border: solid white 1px;
}
.social_icons_img img {
  width: 30px;
  margin: 30px 10px;
  background-color: white;
}

@media (max-width: 953px) {
  .main_footer {
    display: block;
  }
  .footer_col1 {
    width: 100%;
    padding-left: 80px;
    padding-top: 100px;
  }

  .footer_links {
    list-style: none;
    margin-right: 0px;
    line-height: 30px;
  }
  .footer_col2 {
    width: 100%;
    padding-left: 80px;
    padding-top: 0px;
  }

  .social_icons {
    padding: 120px 0 150px 0;
  }
}
@media (max-width: 500px) {
  .footer_email {
    background-color: #4a4a4a;
    color: white;
    width: 200px;
    height: 5vh;
    border: solid white 1px;
  }
  .footer_col1 a {
    text-decoration: none;
    background-color: #84888f;
    color: white;
    padding: 3px;
  }
}
